In [1]:
import sys
sys.path.append('/eos/home-i00/l/lkoller/SWAN_projects/data analysis 2024/LyA/commands')
sys.path.append('/eos/home-i00/l/lkoller/SWAN_projects/commands/data_loader')

from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from LyAdata24 import read_df, read_df_v2
pd.set_option("display.max_columns",None)

In [2]:
#data from 23rd, 24th may
df1 = read_df()
df2 = read_df_v2()

df1 = df1[[True if 458 <= val <= 481 else False for val in df1['run']]]
df2 = df2[[True if 458 <= val <= 481 else False for val in df2['run']]]

In [3]:
data1 = df1

h1 = [[],[],[],[]]
t1 = [[],[],[],[]]
f1 = [[],[],[],[]]

for i in range(4):
    h1[i] = [val for val in data1['height_ch' + str(i + 1)] if val != 'NaN']
    t1[i] = [val for val in data1['time_ch' + str(i + 1)] if val != 'NaN']
    f1[i] = [val for val,bal in zip(data1['LyA'],data1['time_ch' + str(i + 1)]) if bal != 'NaN']
    f1[i] = [[val] * len(bal) for val,bal in zip(f1[i],t1[i])]
    
    #h[i] = [val for bal in data['height_ch' + str(i + 1)] if bal != 'NaN' for val in bal]
    #t[i] = [val for bal in data['time_ch' + str(i + 1)] if bal != 'NaN' for val in bal]
    #f[i] = [val for bal in f[i] for val in bal]

In [4]:
data2 = df2

h2 = [[],[],[],[]]
t2 = [[],[],[],[]]
f2 = [[],[],[],[]]

for i in range(4):
    h2[i] = [val for val in data2['height_ch' + str(i + 1)] if val != 'NaN']
    t2[i] = [val for val in data2['time_ch' + str(i + 1)] if val != 'NaN']
    f2[i] = [val for val,bal in zip(data2['LyA'],data2['time_ch' + str(i + 1)]) if bal != 'NaN']
    f2[i] = [[val] * len(bal) for val,bal in zip(f2[i],t2[i])]
    
    #h[i] = [val for bal in data['height_ch' + str(i + 1)] if bal != 'NaN' for val in bal]
    #t[i] = [val for bal in data['time_ch' + str(i + 1)] if bal != 'NaN' for val in bal]
    #f[i] = [val for bal in f[i] for val in bal]

In [5]:
t2[1].pop(279)
h2[1].pop(279)
f2[1].pop(279)

['/eos/experiment/gbar/pgunpc/data/24_05_23/24_05_23lya/LY1234.1716493479.142.trc']

In [7]:
#ch0 until file 320, ch1 until file 680, ch2 until file 80, ch3 until file 80
ch = 3
off = 40

for i in range(40):
    if len(h1[ch][i+off]) != len(h2[ch][i+off]):
        print(i+off, f1[ch][i+off][0])
        print(t1[ch][i+off], t2[ch][i+off])
        print(h1[ch][i+off], h2[ch][i+off])
        print()

52 /eos/experiment/gbar/pgunpc/data/24_05_23/24_05_23lya/LY1234.1716488867.439.trc
[4934] [4934, 5077]
[0.2906665578484535] [0.2906665578484535, 0.0096213273499161]

59 /eos/experiment/gbar/pgunpc/data/24_05_23/24_05_23lya/LY1234.1716489083.639.trc
[4920, 4980, 5906] [4920, 4980, 5106, 5906]
[0.06169329496682621, 0.1656932302901987, 0.01902665483416058] [0.06169329496682621, 0.1656932302901987, 0.01902665483416058, 0.01902665483416058]

62 /eos/experiment/gbar/pgunpc/data/24_05_23/24_05_23lya/LY1234.1716489141.839.trc
[5180, 5341, 5485] [5180, 5341, 5485, 5530]
[0.2906665578484535, 0.11382592921267497, 0.05115930151782232] [0.2906665578484535, 0.11382592921267497, 0.05115930151782232, 0.013825991401739884]

64 /eos/experiment/gbar/pgunpc/data/24_05_23/24_05_23lya/LY1234.1716489184.583.trc
[4928, 4980, 5186, 6049] [4928, 4980, 5186, 5329, 6049]
[0.22083386266540037, 0.08083394973009127, 0.2906665578484535, 0.020833987043530216] [0.22083386266540037, 0.08083394973009127, 0.2906665578484535, 0.010167327010363806, 0.020833987043530216]

In [9]:
#data from 16th and 17th may
da1 = read_df()
da2 = read_df_v2()

da1 = df1[[True if 428 <= val <= 451 else False for val in df1['run']]]
da2 = df2[[True if 428 <= val <= 451 else False for val in df2['run']]]

In [10]:
dat1 = df1

h1 = [[],[],[],[]]
t1 = [[],[],[],[]]
f1 = [[],[],[],[]]

for i in range(4):
    h1[i] = [val for val in data1['height_ch' + str(i + 1)] if val != 'NaN']
    t1[i] = [val for val in data1['time_ch' + str(i + 1)] if val != 'NaN']
    f1[i] = [val for val,bal in zip(data1['LyA'],data1['time_ch' + str(i + 1)]) if bal != 'NaN']
    f1[i] = [[val] * len(bal) for val,bal in zip(f1[i],t1[i])]

In [11]:
data2 = df2

h2 = [[],[],[],[]]
t2 = [[],[],[],[]]
f2 = [[],[],[],[]]

for i in range(4):
    h2[i] = [val for val in data2['height_ch' + str(i + 1)] if val != 'NaN']
    t2[i] = [val for val in data2['time_ch' + str(i + 1)] if val != 'NaN']
    f2[i] = [val for val,bal in zip(data2['LyA'],data2['time_ch' + str(i + 1)]) if bal != 'NaN']
    f2[i] = [[val] * len(bal) for val,bal in zip(f2[i],t2[i])]

In [26]:
#ch0 until file 120, ch1 until file 120, ch2 until file 120, ch3 until file 120
ch = 2
off = 80

for i in range(40):
    if len(h1[ch][i+off]) != len(h2[ch][i+off]):
        print(i+off, f1[ch][i+off][0])
        print(t1[ch][i+off], t2[ch][i+off])
        print(h1[ch][i+off], h2[ch][i+off])
        print()

82 /eos/experiment/gbar/pgunpc/data/24_05_23/24_05_23lya/LY1234.1716489634.721.trc
[5066, 5176, 5257, 5707, 5993] [5067, 5176, 5257, 5707, 5820, 5993]
[0.12327059000579174, 0.10327060244360473, 0.027270649707294068, 0.08060394987312611, 0.04860396977362689] [0.12333764031455385, 0.10299717684757151, 0.027712284460514915, 0.0810485709328135, 0.01872519860220709, 0.04823833123158987]

87 /eos/experiment/gbar/pgunpc/data/24_05_23/24_05_23lya/LY1234.1716489732.078.trc
[4977, 5078, 5248] [4976, 5078, 5248, 5413]
[0.011173993050993886, 0.151173905986303, 0.12050725839094957] [0.012078715448895357, 0.15173736642877733, 0.11998994290069752, 0.008524878228836408]